@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');

:root {
    --cor-pri: #13005A;
    --cor-sec: #00337C;
    --cor-tec: #1C82AD;
    --cor-qua: #03C988;
    --cor-qui: #000000;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--cor-qui);
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
}

.logo{
    height: auto;
}

.sublinhado-gradiente{
    background-image: linear-gradient(90deg,blue, #00337C);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: left bottom;
    transition: background-size 500ms ease;
    cursor:pointer;
    text-decoration:none;
    font-weight:900;
}
  
.sublinhado-gradiente:hover{
    background-size: 100% 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cor-qua);
    height: 7vh;
}
 
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-tec);
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
      margin: 100%;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--cor-qua);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 100;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .mobile-menu {
      display: block;
    }

    #logo {
        height: 80%;
    }

}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


body{
    background-color: var(--cor-pri);
    color: var(--cor-sec);
    box-sizing: border-box;
}

.apresentacao_project {
    background-color: var(--cor-pri);
}

.apresentacao_web {
    margin: 5% 0% 5% 0%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-qua); 
    color: var(--cor-qui);
    gap: 30px;
}

.igual {
    font-family: 'Poppins', sans-serif;
    color: var(--cor-qui);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: var(--cor-pri);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider2 {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider2 li {
    list-style: none;
    position: absolute;
}

.slider2 img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider2 input {
    display: none;
}

.slider2 label {
    background-color: var(--cor-pri);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider2 li:nth-child(4) label {
    left: 10px;
}

.slider2 li:nth-child(5) label {
    left: 40px;
}

.slider2 li:nth-child(6) label {
    left: 70px;
}

.slider2 img {
    opacity: 0;
    visibility: hidden;
}

.slider2 li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

footer {
    background-color: var(--cor-qua);
    color: var(--cor-qui);
}

.icones {
    text-align: center;
    padding: 1% 1% 0.5% 1%;
}

.copy {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-size: min(15px, 3vw);
    padding: 0 0 1% 0;  
}

.douglas {
    margin: 0 0% -1% 0;
    padding: 0 36% -1% 0;
    box-sizing: border-box;
    border: var(--cor-pri) solid 10px;
    border-radius: 30px;
}

